/* Header */
header {
    background-color: #1F4F7A; /* Bleu encore plus foncé */
    color: white;
    padding: 15px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}
